@media all and (min-width: 320px) {
	.grid-1, .grid-2, .grid-3, .grid-4 {
		max-width: 100%;
	}

	.grid-1 { grid-template-columns: 8fr 4fr; }
	.grid-2 { grid-template-columns: .25fr 11.5fr .25fr; }	
	.grid-3 { grid-template-columns: repeat(1, 1fr); }
	.grid-4 { grid-template-columns: 1fr; }

	/*//////////////////////////////////////////////////////
	  MENU
	//////////////////////////////////////////////////////*/			
	.menu-item-wrapper { margin-top: 6em; }
	.menu-item-wrapper.active { margin-top: 8em; }
	.menu-item-wrapper a { 
		/* font-size: 2em;  */
		line-height: 2em;
	}

	#menubar {
			padding: 1em 0;
		}

		.logotype {
			font-size: 1.1em;
			letter-spacing: -.5px;
		}

		#menubtn { 
			position: relative; 
			margin-left: auto; 
			margin-right: 0;
		}

		.bar1, .bar2 {
			width: 20px;
			height: 3px;
			margin: 5px 0;
		}

	/*//////////////////////////////////////////////////////
	  LANDING
	//////////////////////////////////////////////////////*/
	#intro { 
		text-align: center;
		margin-top: 8em; 
	}

		.introcopy {				
			text-align: center;	
			position: relative;	
			left: 50%;
			transform: translateX(-50%);
			padding: 1em;
		}	

		.introcopy p {
			font-size: 2em;
			letter-spacing: -.5px;	
			text-align: left;		
		}	

	/*////////////////////////////////////////////////////////////////
	CATALOG
	////////////////////////////////////////////////////////////////*/
	.filters {		
		text-align: left;
		margin-bottom: 2em;		
		padding: 1em;
	}

	.filters li {
		display: block;
		line-height: 2em;
	}

	/*////////////////////////////////////////////////////////////////
	POST COMPONENT
	////////////////////////////////////////////////////////////////*/
	.post-card {
		max-width: 100%;
		padding: 1em;
		border-radius: 1em;
	}

	.post-card a img { 
		width: 100%; 
	}

	.company-logo {
		width: 100%;
		height: 16em;
		border: solid 2px #021426;
		border-radius: 1em;
		background-size: 60%;		
	}
	
	.post-caption { margin-top: 1em; }
	.post-title { font-size: 1.2rem; }
	.post-categories { margin-top: 2em; }

	  .post-categories li {
		margin-bottom: .5em;
		margin-right: .4em;
		border-radius: .3em;
		/* border: 1px solid #8F95B2; */
	  }

	  .post-categories p {
		font-size: 12px;
		letter-spacing: .2px;
		padding: 0.4rem 0.6rem;	
		line-height: normal;
		transition: all 0.1s;
	  }

	/*////////////////////////////////////////////////////////////////
	FOOTER
	////////////////////////////////////////////////////////////////*/
	#footer {
		margin-top: 8em;
		padding: 4em 0 8em 0;
	}

	.about-copy {
		padding: 1em;
	}

	.about-copy h2 {
		font-size: 1.3em;
	}

	.about-copy p {
		margin-top: 1em;
		line-height: 1.5em;
	}
}

@media all and (min-width: 375px) {	
	.company-logo {
		height: 18em;
	}
}

@media all and (min-width: 414px) {	
	.company-logo {
		height: 20em;
	}
}

@media all and (min-width: 540px) {
	.grid-3 { grid-template-columns: repeat(2, 1fr); }
	#catalog { margin-top: 4em; }
	.company-logo { height: 12em; }
	.introcopy p, .filters { text-align: center; }

	.filters li {
		display: inline;			
		margin-right: 2em;
	}
}

@media all and (min-width: 768px) {
	.grid-3 {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1.5em;
	}

	.grid-4 { grid-template-columns: 3fr 9fr; }

	p {
		font-size: 1.1em;
	}

	/* .menu-item-wrapper div {
		padding: .5em;
	}

	.menu-item-wrapper a { 
		font-size: 3em; 
		letter-spacing: 0;
	} */

	/*//////////////////////////////////////////////////////
	  LANDING
	//////////////////////////////////////////////////////*/
	#intro { margin: 10em 0; }
		.introcopy { max-width: 100%; }
		.introcopy p { font-size: 2.5em; }

	.catalog-container {
			position: relative;		
		}

	.post-wrapper .post-card {
		padding: 1em;			
		border-radius: 1.25em;
	}

	.company-logo { border-radius: 1.5em; }

	/*//////////////////////////////////////////////////////
	  SUBBANNER
	//////////////////////////////////////////////////////*/
	#subBanner {
			margin: 12em 0;
		}

		.about-copy p {
			margin-top: 1em;
			line-height: 1.5em;
		}
	  
}

@media all and (min-width: 1024px) {
	.introcopy { max-width: 70%; }
	.company-logo { height: 16em; }
}

@media all and (min-width: 1280px) {
	.grid-3 {
		grid-template-columns: repeat(4, 1fr);
	}		

	.introcopy p { font-size: 3em; }

	.post-wrapper .post-card {
		padding: 2em;			
		border-radius: 1.5em;
	}

	.company-logo { height: 14em; }
}

@media all and (min-width: 1440px) {
	.company-logo { height: 16em; }	
}

@media all and (min-width: 1680px) {
}
